<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pimgento>
            <variant_family>
                <max_axes_number>5</max_axes_number>
            </variant_family>
        </pimgento>
    </default>
</config>
