<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pimgento>
            <image>
                <enabled>0</enabled>
                <path></path>
                <base_image>base_image</base_image>
                <thumbnail_image>thumbnail_image</thumbnail_image>
                <small_image>small_image</small_image>
                <gallery_image>gallery_image</gallery_image>
                <swatch_image>swatch_image</swatch_image>
                <clean_files>0</clean_files>
            </image>
        </pimgento>
    </default>
</config>
