<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pimgento>
            <attribute>
                <types>[{"pim_type":"pim_catalog_example","magento_type":"select"}]</types>
            </attribute>
        </pimgento>
    </default>
</config>
