<?xml version="1.0"?>
<!-- Only enable this module for upgrade from Magento 2.1 to 2.2 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Pimgento_Upgrade" setup_version="1.0.0">
        <sequence>
            <module name="Pimgento_Entities"/>
            <module name="Pimgento_Import"/>
        </sequence>
    </module>
</config>